# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
starter/components/CabinCard.js
starter/components/DateSelector.js
starter/components/DeleteReservation.js
starter/components/Header.js
starter/components/LoginMessage.js
starter/components/Logo.js
starter/components/Navigation.js
starter/components/Price.js
starter/components/ReservationCard.js
starter/components/ReservationForm.js
starter/components/ReservationReminder.js
starter/components/SelectCountry.js
starter/components/SideNavigation.js
starter/components/SignInButton.js
starter/components/SignOutButton.js
starter/components/Spinner.js
starter/components/SpinnerMini.js
starter/components/TextExpander.js
starter/others/about-1.jpg
starter/others/about-2.jpg
starter/others/bg.png
starter/others/colors.json
starter/others/data-service.js
starter/others/error.js
starter/others/globals.css
starter/others/logo.png
starter/others/not-found.js
starter/pages/about-page.js
starter/pages/cabin-page.js
starter/pages/cabins-page.js
starter/pages/home-page.js
starter/pages/login-page.js
starter/pages/profile-page.js
starter/pages/reservation-edit-page.js
starter/pages/reservations-page.js
starter/pages/thank-you-page.js
